<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue à la boulangerie Pierre</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h2>Welcome Pierre to your Bakery's Home Page!</h2>
    <p>This is a place where you can keep track of vendors and the orders they place with your shop.</p>
    <a href="/Vendors"> Click here</a>
  </body>
</html>